<LDAP>
        # LDAP server URL
        URL             {{ vpnconfig['ldap']['ldapuri'] }}

        # Bind DN (If your LDAP server doesn't support anonymous binds)
        BindDN          {{ vpnconfig['ldap']['binddn'] }}

        # Bind Password
        Password        {{ vpnconfig['ldap']['bindpw'] }}

        # Network timeout (in seconds)
        Timeout         15

        # Enable Start TLS
        TLSEnable       no

        # Follow LDAP Referrals (anonymously)
        FollowReferrals yes

        # TLS CA Certificate File
        TLSCACertFile   /usr/local/etc/ssl/ca.pem

        # TLS CA Certificate Directory
        TLSCACertDir    /etc/ssl/certs

        # Client Certificate and key
        # If TLS client authentication is required
        #TLSCertFile    /usr/local/etc/ssl/client-cert.pem
        #TLSKeyFile     /usr/local/etc/ssl/client-key.pem

        # Cipher Suite
        # The defaults are usually fine here
        # TLSCipherSuite        ALL:!ADH:@STRENGTH
</LDAP>

<Authorization>
        # Base DN
        BaseDN          "{{ vpnconfig['ldap']['basedn'] }}"

        # User Search Filter
        SearchFilter    "{{ vpnconfig['ldap']['searchfilter'] }}"

        # Require Group Membership
        RequireGroup    false

</Authorization>

