[ req ]
prompt             = no
distinguished_name = node
req_extensions     = req_ext

[ node ]
commonName = Kibana
countryName = {{ openssl_certs_country }}
organizationName = {{ openssl_certs_org }}
organizationalUnitName = {{ openssl_certs_ou }}
stateOrProvinceName = {{ openssl_certs_state }}

[ req_ext ]
subjectAltName = @alt_names
extendedKeyUsage = serverAuth,clientAuth
basicConstraints = CA:false

[alt_names]
DNS.1 = kibana-svc
